*.foreground: #B4B4B9
*.background: #020221
*.color0:     #000004
*.color8:     #020221
*.color1:     #FF3600
*.color9:     #FF8E78
*.color2:     #859933
*.color10:    #B2BC55
*.color3:     #FFC552
*.color11:    #FFD392
*.color4:     #635196
*.color12:    #99A4BC
*.color5:     #FF761A
*.color13:    #FFB07B
*.color6:     #34BFA4
*.color14:    #85CCBF
*.color7:     #B4B4B9
*.color15:    #F8F8FF
